* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: "space";
  src: url('Assets/fonts/SpaceGrotesk-VariableFont_wght.ttf');
}
:root {
  --green: #b9ff66;
  --gray: #f3f3f3;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-flow: column;
}
.center {
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1440px;
  display: flex;
  flex-flow: column;
  gap: 70px;
  margin: 10px auto;
  font-family: "space";
}
/* ------------ */

.navBar {
  width: 100%;
  height: 68px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}

#navBarLogo {
  max-height: 50px;
}
.links {
  height: 68px;
  align-items: center;
}

.links ul {
  list-style-type: none;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a {
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400px;
  color: black;
}

.links #withBorder{
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 14px;
}
.menu 
{
    display: none;
    background:none;
    border: none;
    cursor: pointer;
}

.landingPage {
  margin-top: 70px;
  display: flex;
  flex-flow: column;
  gap: 70px;
}

header {
  display: flex;
  width: 100%;
  height: 515px;
  justify-content: space-between;
  padding: 0px 100px;
  /* border: 1px solid red; */
  background-image: url('Assets/backgroundLogo/speakerLogo.jpg');
  background-repeat: no-repeat;
  background-position: right;
}

.textSection {
  margin-top: 40px;
  width: 100%;
  max-width: 531px;
  height: auto;
  justify-content: space-between;
}

.textSection .head {
  width: 100%;
  height: 231;
  font-weight: 500px;
  font-size: 30px;
}
.textSection .description {
  width: 498px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400px;
}

.textSection button {
  width: 264px;
  height: 68px;
  border-radius: 14px;
  background-color: #191a23;
  color: white;
  font-size: 20px;
}

.headerLogo img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

/* ------------- */

.logoTypes {
  width: 100%;
  justify-content: space-between;
  padding: 0px 100px;
}

.logoTypes img {
  width: 124px;
  height: auto;
}

/* ------------------- */

.subHeading {
  padding: 0px 100px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.subHeading .head {
  text-align: center;
  background: var(--green);
  padding: 7px;
  border-radius: 10px;
  width: 178px;
  height: 51px;
  justify-content: center;
  align-items: center;
}
.subHeading .head h2 {
  font-weight: 500px;
  font-size: 30px;
}

.subHeading p {
  font-size: 18px;
  line-height: 28px;
  max-width: 580px;
}

/* ------------- */

.serviceBlock {
  padding: 0px 100px;
  flex-wrap: wrap;
  gap: 40px;
}

.serviceBlock .cards {
  flex: 1 1 600px;
  min-width: 250px;
  height: 310px;
  border-radius: 45px;
  border: 1px solid black;
  justify-content: space-between;
  padding: 50px;
}

.cardOne {
  background-color: var(--gray);
}
.cardTwo {
  background-color: var(--green);
}

.card-head-link {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 224px;
  height: 210px;
}

.card-head-link .head {
  width: 221px;
  height: 76px;
  font-size: 30px;
  font-weight: 500px;
}

.cardOne .head h4 {
  background-color: var(--green);
  padding: 0px 7px;
  border-radius: 7px;
}
.cardTwo .head h4 {
  background-color: white;
}

.lessWidth {
  width: 197px;
}

.card-head-link .link {
  gap: 15px;
  align-items: center;
}
.link .arrow {
  background: black;
  width: 41px;
  height: 41px;
  border-radius: 25px;
}

.link .arrow img {
  width: 32px;
  padding-top: 12px;
  padding-left: 12px;
}

.more p {
  font-size: 20px;
}

.icon #cardOne-img {
  width: 210px;
  height: 170px;
}

/* ------------- */

.Second-subHeading {
  display: flex;
  align-items: center;
  padding: 0px 100px;
  gap: 20px;
  flex-wrap: wrap;
}


.Second-subHeading .head {
  background: var(--green);
  height: 51px;
  font-size: 22px;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Second-subHeading .text p {
 font-size: 18px;
}

/* -------------- */

.accordion {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
  padding: 41px 60px;
}

.accordion-item {
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background: var(--green);
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  cursor: pointer;
  background-color:var(--gray);
  border-bottom: 1px solid black;
  font-size: 20px;
}

.accordion-header h3 {
  font-size: 22px;
}

.accordion-header img {
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  padding: 0 25px;
}

.accordion-content p {
  padding: 20px 0;
}

.accordion-item.active .accordion-content {
  max-height: 300px;
}

/* ---------------- */

.formSection {
  width: 100%;
  max-width: 1240px;
  border-radius: 45px;
  padding-top: 60px;
  padding-right: 100px;
  padding-bottom: 80px;
  padding-left: 100px;
  background: #f3f3f3;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-image: url("Assets/contactUs/contactUs-Illustration.png");
  background-repeat: no-repeat;
  background-position: 860px 50px;
  background-size: 692px 648px;
  margin: 5px auto;
}

.form {
  width: 556px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.radioButtons {
  display: flex;
  gap: 30px;
  font-size: 18px;
  margin-bottom: 25px;
}

input[type="radio"] {
  accent-color: var(--green);
  width: 30px;
  height: 20px;
}

.feild input, textarea {
  width: 100%;
  padding: 18px 30px;
  border-radius: 14px;
  border: 1px solid black;
  font-size: 18px;
  resize: none;
}

.sayhi,
.getaquote {
  align-items: center;
  gap: 5px;
}

.feilds 
{
    
    display: flex;
    flex-direction: column;
    gap:20px;
}

.feildButton button {
    width: 100%;
    height: 68px;
    border-radius: 14px;
    background-color: #191a23;
    color:white; 
    font-size: 20px;
}

/* -------------- */

footerBlock {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 60px 60px 40px 60px;
  background-color: #191a23;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  color: white;
  gap: 50px;
}

.footerNav {
  justify-content: space-between;
  align-items: center;
}

.footerNav .links ul {
  gap: 35px;
}

.footerNav .links a {
  color: white;
  font-size: 18px;
}

.social {
  gap: 20px;
}

.social img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.footerContactus {
  justify-content: space-between;
  align-items: flex-start;
}

.contact {
  gap: 15px;
}

.contactButton {
  background-color: var(--green);
  color: black;
  font-size: 18px;
  padding: 5px 12px;
  border-radius: 6px;
  width: fit-content;
}

.mail,
.phone,
.address {
  font-size: 16px;
  line-height: 24px;
  color: #dcdcdc;
}

.subscription {
  background: #292a32;
  border-radius: 20px;
  padding: 30px 40px;
  gap: 20px;
  align-items: center;
}

.emailBox input {
  width: 260px;
  height: 55px;
  border-radius: 14px;
  border: 1px solid #444;
  background-color: #191a23;
  color: white;
  padding: 0 20px;
  font-size: 16px;
}

.subButton button {
  width: 220px;
  height: 55px;
  border-radius: 14px;
  border: none;
  background-color: var(--green);
  font-size: 18px;
  cursor: pointer;
}

.privacyPolicy {
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #444;
  padding-top: 25px;
  font-size: 14px;
}

.privacyPolicy a {
  color: white;
  text-decoration: none;
}