* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container
{
    margin: 10px auto;
    width: 1400px;
    /* height: 100vh; */
    border: 1px solid red;
    padding: 10px 0px;
}
.sectionOne {
    display: flex;
    flex-flow: column;
    gap:60px;
    margin-bottom:60px;
    width: 100%;
    /* border: 1px solid red; */
}
.header 
{ 
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul
{
    list-style: none;
    font-size: 24px;
    color: black;
}
li {
    display: inline;
    padding:5px 10px
}
li:last-child
{
    border: 1px solid black;
    border-radius: 15px;
    padding:15px 50px;
    cursor: pointer;
    margin-left: 30px;
}
a {
    text-decoration: none;
    color:black;
    display: inline-block;
}

.heroSection
{
    width: 100%;
    height:550px ;
    display: flex;
    padding: 10px 25px;
}

.desSection {
 width: 50%;
 height: 100%;
 display: flex;
 flex-flow: column;
 justify-content: space-evenly;
 align-items: flex-start;
 width: 50;
 padding: 10px 25px;
}

.head {
    font-size:60px
}
.des {
    font-size:20px;
    padding:3px;
    width: 90%;
}

.desSection .button 
{
    background-color: black;
    color:white;
    padding: 20px 35px;
    border-radius: 14px;
}

.imgSection {
    width: 50%;
    height: 100%;
    background-color: green;
    background-image:url("Assets/heroSectionImage/background.png") ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
} 

.companyLogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 48px;
}
.amazon {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/* ----------------> */
.center 
{
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
}
.servicesContainer 
{
    width: 80%;
    height: 100px;
    font-size: 20px ;
    gap:30px;
}
.serviceHead {
    background-color: #B9FF66;
    width: 180px;
    padding:10px 25px;
    border-radius: 5px;
    font-weight: bolder;
    font-size:24px;
}

.sectionTwo {

    height: 200px;
    justify-content: flex-start;
    align-items: center;
    padding:15px;

}