* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.container {
  margin: 10px auto;
  width: 1400px;
  border: 1px solid red;
  padding: 15px 0px;
}
.sectionOne {
  display: flex;
  flex-flow: column;
  gap: 60px;
  margin-bottom: 60px;
  width: 100%;
}
.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul {
  list-style: none;
  font-size: 24px;
  color: black;
}
li {
  display: inline;
  padding: 5px 10px;
}
li:last-child {
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px 50px;
  cursor: pointer;
  margin-left: 30px;
}
a {
  text-decoration: none;
  color: black;
}

.heroSection {
  width: 100%;
  height: 550px;
  display: flex;
  padding: 10px 25px;
}

.desSection {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 50;
  padding: 10px 25px;
}

.head {
  font-size: 60px;
}
.des {
  font-size: 20px;
  padding: 3px;
  width: 90%;
}

.desSection .button {
  background-color: black;
  color: white;
  padding: 20px 35px;
  border-radius: 14px;
}

.imgSection {
  width: 50%;
  height: 100%;
  background-image: url("Assets/heroSectionImage/background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.companyLogo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 48px;
}
.amazon {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/* ----------------> */
.spb {
  justify-content: space-between;
}
.column {
  display: flex;
  flex-flow: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
}
.servicesContainer {
  width: 80%;
  height: 100px;
  font-size: 20px;
  gap: 30px;
}
.serviceHead {
  background-color: #b9ff66;
  width: 180px;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 24px;
}

.sectionTwo {
  height: 200px;
  justify-content: flex-start;
  align-items: center;
  padding: 25px 40px;
}

/* ----------------- */

.cardSection {
  /* border: 1px solid red; */
  justify-content: space-evenly;
  padding: 10px 25px;
}

.card {
  width: 600px;
  height: 330px;
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
}

.cardOne .SectionOne,
.cardTwo .SectionOne {
  width: 55%;
  height: 100%;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
}
.cardOne .SectionTwo {
  background-image: url("Assets/companyLogo/cardOne.png");
}
.cardTwo .SectionOne {
  background-color: #b9ff66;
}
.cardTwo .SectionTwo {
  background-image: url("Assets/companyLogo/cardSecond.png");
  background-color: #b9ff66;
}
.cardOne .SectionTwo,
.cardTwo .SectionTwo {
  width: 45%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 150px 150px;
  background-repeat: no-repeat;
  background-position: center center;
}

.cardButton {
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}

.cardText {
  width: 160px;
  font-size: 20px;
}
.arrowContainer {
  background-color: black;
  border-radius: 100%;
  background-color: black;
}
.fa-solid {
  color: white;
  text-align: center;
  padding: 7px 0px;
  width: 30px;
  height: 30px;
  transform: rotate(240deg);
}
.arrowText {
  font-size: 20px;
}
.green,
.white {
  margin: 1px 0px;
  border-radius: 1px;
  width: 220px;
}
.green {
  background-color: #b9ff66;
}
.white {
  background-color: white;
}
.workingProcess {
  width: 889px;
  padding: 10px 45px;
  align-items: center;
  height: 200px;
  gap: 15px;
}
.workingProcess .head {
  font-size: 24px;
  background-color: #b9ff66;
  padding: 12px;
  width: 370px;
}

/* -------------------------------> */
/* to be edited*/
/* ---------------------------------> */

.contactUsSection {
  /* border: 1px solid red; */
  width: 100%;
  padding: 15px 45px;
}
.contactUs {
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.contactUs .head {
  font-size: 24px;
  background-color: #b9ff66;
  padding: 12px;
}

.formSection {
  width: 100%;
  border: 1px solid red;
  margin-top: 25px;
  padding: 40px 0px;
}
.checkBox {
  border: 1px solid blue;
  width: 700px;
}

.formSection {
  width: 100%;
  height: 773px;
}

.formDetail {
  background-color: #b9ff66;
  width: 556px;
  height: 633px;
}
.formBackground {
  background-color: aquamarine;
  width: 100%;
  height: 633px;
}
