* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: "space";
  src: url(fonts/SpaceGrotesk-VariableFont_wght.ttf);
}
:root {
  --green: #b9ff66;
  --gray: #f3f3f3;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-flow: column;
}
.center {
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1440px;
  display: flex;
  flex-flow: column;
  gap: 70px;
  margin: 10px auto;
  font-family: "space";
}
/* ------------ */

.navBar {
  width: 100%;
  height: 68px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}

#navBarLogo {
  max-height: 50px;
}
.links {
  height: 68px;
  align-items: center;
}

.links ul {
  list-style-type: none;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a {
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400px;
  color: black;
}

.links #withBorder{
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 14px;
}
.menu 
{
    display: none;
    background:none;
    border: none;
    cursor: pointer;
}