* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container
{
    margin: 10px auto;
    width: 1200px;
    height: 100vh;
    border: 1px solid red;
    padding: 10px 0px;
}
.header 
{ 
    width: 100%;
    height: 100px;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul
{
    list-style: none;
    font-size: 24px;
    color: black;
}
li {
    display: inline;
    padding:5px 10px
}
li:last-child
{
    border: 1px solid black;
    border-radius: 15px;
    padding:15px 50px;
    cursor: pointer;
}
a {
    text-decoration: none;
    color:black
}

.heroSection
{
    width: 100%;
    height:550px ;
    display: flex;
    padding: 10px 25px;

}

.desSection {
 width: 50%;
 height: 100%;
 display: flex;
 flex-flow: column;
 justify-content: space-evenly;
 align-items: flex-start;
 width: 50;
 padding: 10px 25px;
}

.head {
    font-size:60px
}
.des {
    font-size:20px;
    padding:3px;
    width: 90%;
}

.desSection .button 
{
    background-color: black;
    color:white;
    padding: 20px 35px;
    border-radius: 14px;
}

.imgSection {
    width: 50%;
    height: 100%;
    background-color: green;
    background-image:url("Assets/heroSectionImage/background.png") ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
} 

.companyLogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.companyLogo img {
    border: 1px solid red;
    width: 126px;
    height: 48px;
}