* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container
{
    margin: 10px auto;
    width: 1200px;
    height: 100vh;
    border: 1px solid red;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}